@page "/ProductManagement"
@using NovinCm.ProductManagement.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ProductManagementResource> L
@{
}
<h1>ProductManagement</h1>
<p>@L["SamplePageMessage"]</p>